<div class = "ui-component">
    <app-link [links] = "links"></app-link>
    <app-stream-logo class = "ui-lib-logo"></app-stream-logo>
    <div class = "ui-options">
        <a class = "ui-link" [routerLink]="['/guide']">
            <span class = "fab fa-jedi-order"></span>Get started
        </a>
        <a class = "ui-link" [routerLink]="['/donate']">
            <span class = "fas fa-donate"></span> Donate
        </a>
    </div>
    <div class = "ui-bests-of">
        <div class = "ui-best">
            <div class = "ui-best-title">
                NodeJs ♥ Typescript
            </div>
            <div class = "ui-best-content">
                We control everything for you, making more easily your life and make your
                code more simple. You can inject classes, configure and destroy automatically,
                overriding classes to define<b>your behavior</b>.
            </div>
        </div>
        <div class = "ui-best">
            <div class = "ui-best-title">
                Express ♥ Typescript
            </div>
            <div class = "ui-best-content">
                Yeah, express married with the Typescript! 
                We can define rest endpoints more easily with the
                <b>decorators </b> <b>@Get</b>, <b>@Post</b>, <b>@Put</b>, <b>@Del</b> all provided by <b>The Way</b>.
            </div>
        </div>
        <div class = "ui-best">
            <div class = "ui-best-title">
                Rest
            </div>
            <div class = "ui-best-content">
                We provided to you a loot of decorators to improve and make your code more clean.
                You can define a path, get body param, query param, path param, the headers incoming and more.
            </div>
        </div>

        <div class = "ui-best">
            <div class = "ui-best-title">
                Http Server ♥ Swagger
            </div>
            <div class = "ui-best-content">
                We provide to you a server with <a class = "ui-link" target = "_blank" href = "https://www.npmjs.com/package/express">express</a> 
                improved by best practices and the Swagger with the libraries 
                <a class = "ui-link" target = "_blank" href = "https://www.npmjs.com/package/swagger-jsdoc">swagger-jsdoc</a> and 
                <a class = "ui-link" target = "_blank" href = "https://www.npmjs.com/package/swagger-ui-express">swagger-ui-express</a>
            </div>
        </div>
        <div class = "ui-best">
            <div class = "ui-best-title">
                Yaml properties
            </div>
            <div class = "ui-best-content">
                You can use an application.properties.yml to disable or enable some features of this framework. You also can use this 
                application properties in to you classes injecting the <b>PropertiesConfiguration</b>(@Inject())
            </div>
        </div>
    </div>
    <div class = "ui-license">
        <a class = "ui-link" target = "_blank" href = "https://raw.githubusercontent.com/nihasoft/the-way/master/LICENSE">
            MIT Licensed
        </a>
    </div>
</div>