@import '../../styling/variables.scss';

.ui-component {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 20px 120px;
    min-height: 100%;
    width: 100%;
}

.ui-lib-logo {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 120px 0 30px;
}

.ui-bests-of {
    z-index: 1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid  $ui-primary-border-color;
    border-bottom: 1px solid  $ui-primary-border-color;
    color: $ui-second-color;
    justify-content: center;
}

.ui-best {
    display: flex;
    flex-flow: column;
    width: 250px;
    padding: 20px 10px;

    .ui-best-title {
        font-size: 18px;
        font-weight: bold;
        font-weight: bold;
        color: $ui-second-color;
    }

    .ui-best-content {
        padding-top: 10px;
        font-size: 14px;
        color: $ui-second-color;
        word-wrap: break-word;
    }
}

.ui-options {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 30px 10px;
    z-index: 1;

    .ui-link {
        margin: 0 20px;
        text-decoration: unset;
        font-size: 16px;
        padding-top: 5px;
        font-weight: normal;

        span {
            margin-right: 5px;
            font-size: 20px;
        }

        
    }
    .ui-link:hover {
        font-weight: bold;
    }
}

@media(max-width: 982px) {
    .ui-component {
        padding: 0px 20px;
    }
}
@media(max-height: 500px) {
    .ui-component {
        justify-content: unset;
    }
}

.ui-license {
    display: flex;
    width: 100%;
    height: 40px;
    padding: 20px 0;
    align-self: center;
    justify-content: center;
    color: $ui-second-color;
    z-index: 1;

    .ui-link {
        text-decoration: none;
        font-weight: normal;
    }
}