{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "indent": [
        "error", 4
    ],
    "no-multiple-empty-lines": [
        "error", { "max": 1, "maxEOF": 1 }
    ],
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-explicit-any": "off"
  }
}