{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
      "no-console": ["error", {
          "allow": ["error", "info"]
      }],
      "indent": ["error", 4, { "SwitchCase": 1 }],
      "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 1 }],
      "quotes": ["error", "single"],
      "no-trailing-spaces": "error",
      "eol-last":"error",
      "max-len": [ "error", { "code": 140 }],
      "max-classes-per-file": ["error", 1],
      "max-lines": ["error", 1000],
      "object-curly-spacing": ["error", "always"],
      "semi": ["error", "always"]
  }
}