{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "indent": [
        "error", 4
    ],
    "no-multiple-empty-lines": [
        "error", { "max": 1, "maxEOF": 1 }
    ],
    "no-console": [
      "error", {
        "allow": ["error"]
      }
    ],
    "quotes": ["error", "single"],
    "no-trailing-spaces": "error",
    "eol-last": "error",
    "@typescript-eslint/no-explicit-any": "off"
  }
}