@import '../../../../styling/variables.scss';

.ui-links {
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    top: 5px;
    left: 5px;
}
.ui-link {
    flex: 1;
    display: flex;
    padding: 5px;
    cursor: pointer;
    z-index: 1000;
    text-decoration: none;
    font-family: JesaScript;

    span {
        width: 35px;
        font-size: 32px;
        color: $ui-primary-text-color;
    }

    a {
        text-decoration: none;
        font-size: 16px;
        margin-left: 10px;
        margin-top: 10px;
        color: $ui-primary-text-color;
    }
}

@media(max-width: 982px) {
    .ui-links {
        position: relative !important;
    }

    :host {
        width: 100%;
    }
}