@import '../../../../styling/variables.scss';

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex: 1;
    padding-right: 10px;
}
.ui-link {
    display: flex;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    text-decoration: none;
    font-family: JesaScript;

    span {
        width: 35px;
        font-size: 32px;
        color: $ui-primary-text-color;
    }

    a {
        text-decoration: none;
        font-size: 16px;
        margin-left: 10px;
        margin-top: 10px;
        color: $ui-primary-text-color;
    }
}