@import '../../styling/variables.scss';

:host {
    display: flex;
    flex-flow: row wrap;
}

.ui-guide-sub-items,
.ui-guide-items {
    width: 250px;
    height: 100%;
    overflow-y: auto;
    align-items: center;
    padding-top: 20px;
    flex-flow: column;
    box-shadow: 0 0 6px 1px $ui-primary-border-color;
}

.ui-guide-items-version {
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: $ui-primary-selection-text-color;
}

.ui-guide-item {
    display: flex;
    width: 100%;
    min-height: 40px;
    font-size: 14px;
    color: $ui-primary-selection-text-color;
    align-items: center;
    flex-flow: column;
    cursor: pointer;
    flex: unset;
}

.ui-guide-sub-items {
    padding: 0 20px 0 20px;
    overflow-y: hidden;
    height: auto;
    box-shadow: unset;
}

.ui-guide-sub-item {
    align-items: unset;
    min-height: 40px;
    height: auto;
    padding: 10px;
}

.ui-guide-item-information {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 20px;
}

.ui-guide-item-information:hover {
    background: $ui-primary-selection-background-color;
    color: $ui-primary-text-color;
}

.ui-guide-item-label {
    flex: 1;
}

.ui-guide-item-selected {
    color: $ui-primary-selected-text-color;
    font-weight: bold;
}

.ui-guide-doc {
    overflow-y: auto;
    flex: 1;
}

.ui-guide-disabled {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    height: 100%;
    width: 100%;
}

@media(max-width: 800px) {
    .ui-guide-mobile-expand-options {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 80px;
        left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $ui-primary-selected-text-color;
        font-weight: bold;
        font-size: 20px;
        background: white;
        border-radius: 20px;
        box-shadow: 0px 0px 5px -1px $ui-second-color;
    }

    .ui-guide-doc {
        margin-top: 40px;
        padding-top: 20px;
    }

    .ui-guide-items {
        background: white;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 3;
    }
}