@import '../styling/variables.scss';

.ui-container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1000;
    display: flex;
    flex-flow: column;
}

.ui-component-container {
    display: flex;
    flex: 1;
    height: 100%;
    overflow-y: auto;
}

.ui-nav {
    width: 100%;
    height: auto;
    display: flex;
    box-shadow: 0px 0px 5px 1px $ui-primary-border-color;
    background: $ui-primary-background-color;
    overflow-y: auto;
    min-height: 60px;
}

canvas {
    display: block;
    vertical-align: bottom;
}


#particles-js {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

@media(max-width: 900px) {
    .ui-container {
        flex-flow: column;
        overflow-y: auto;
    }
    .ui-nav {
        width: 100%;
        min-height: unset;
        max-height: 100%;
        height: auto;
        overflow: unset;
    }

    .ui-component-container {
        flex: unset;
        overflow-y: unset;
    }
}