$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~highlight.js/scss/default.scss';

@import './variables.scss';

@font-face {
    font-family: Tron;
    src: url('../assets/Tr2n.ttf');
}
@font-face {
    font-family: JesaScript;
    src: url('../assets/JesaScript-Regular.otf');
}

* {
    box-sizing: border-box !important;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Google Sans", sans-serif, Helvetica;
    font-size: 12px;
    min-width: 400px;
    background: white;
}

.ui-link {
    color: $ui-primary-text-color;
    font-weight: bold;
    cursor: pointer;
}

.ui-component {
    height: auto;
    display: flex;
    flex-flow: column;
    height: 100%;
}

.ui-flex {
    flex: 1;
}