$ui-primary-color: #8288ff;
$ui-primary-text-color: #51abf8;
$ui-primary-selection-background-color: #f3f3f5;
$ui-primary-selection-text-color: #b8b8be;
$ui-primary-selected-text-color: #51abf8;
$ui-primary-background-color: rgb(255, 255, 255);
$ui-primary-border-color: #e0eaf3;
$ui-second-color: #b8b8be;
$ui-second-text-color: #f8f8f8;
$ui-second-background-color: #51abf8;
$ui-second-border-color: #dbdbdb;