<div class = "ui-component-container">
    <div class = "ui-donate-layer">
        <div class = "ui-donate-layer-icon">
            <span class = "fas fa-donate"></span>
        </div>
        <div class = "ui-donate-layer-description">
            WoW Thank you to much!
            Now? Let's save the world!
        </div>
    </div>
    <form class = "ui-donate-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="2SUGGYF8MX9AE" />
        <button class = "ui-donate-button" name="submit" title="PayPal - The safer, easier way to pay online!">
            Donate
        </button>
    </form>
</div>