@import '../../../styling/variables.scss';

.ui-component-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.ui-donate-layer {
    padding: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.ui-donate-layer-icon {
    font-size: 120px;
    color: $ui-primary-text-color;
}

.ui-donate-layer-description {
    font-size: 16px;
    color: $ui-primary-text-color;
    text-align: center;
}

.ui-donate-form {
}

.ui-donate-button {
    height: 50px;
    width: 350px;
    font-size: 30px;
    outline: none;
    border: none;
    color:$ui-primary-text-color;
    background: unset;
    cursor: pointer;
    opacity: 0.8;
}
.ui-donate-button:hover {
    opacity: 1;
}